:root {
  --wb-gray-main: #e5e5e5;
  --wb-height: 52px;
  --wb-phone-height: 40px;
}

.word-button {
  height: var(--wb-height);
  padding: 0 16px;
  background-color: white;
  color: rgb(75, 75, 75);
  border: 2px solid var(--wb-gray-main);
  border-bottom-width: 4px;
  border-radius: 16px;
  font-size: 19px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.word-button:disabled {
  background-color: var(--wb-gray-main);
  color: var(--wb-gray-main);
  cursor: auto;
}

.word-button:active {
  height: calc(var(--wb-height) - 2px);
  margin-top: 2px;
  border-bottom-width: 2px;
}

@media (max-width: 380px) {
  .word-button {
    height: var(--wb-phone-height);
    font-size: 17px;
    padding: 0 8px;
  }
  .word-button:active {
    height: calc(var(--wb-phone-height) - 2px);
  }
}
