.lingo-dialog {
  min-height: 100vh;
  padding: 24px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.guessing-container {
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.enter-translation {
  font-size: 32px;
  margin-top: 0;
}
